@model OfficeAvenger.Web.Areas.Razor.Models.EditTeamViewModel
@{
    ViewBag.Title = Title();
}

<form action="/razor/team/edit" method="post">
@Html.HiddenFor(m => m.Avenger.Id)
@Html.HiddenFor(m => m.Avenger.AgentId)
<div class="row">
    <div class="column small-12 large-8 small-centered">

        <h4>@Title()</h4>
        @Html.Partial("_Messages")
        <div class="panel">
            <div class="row">
                <div class="small-12 column">
                    <label>Name</label>
                    @Html.TextBoxFor(m => m.Avenger.Name, new { placeholder = "Avenger Code Name", autofocus = "autofocus" })
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <label>Avatar</label>
                    @Html.TextBoxFor(m => m.Avenger.Avatar, new { placeholder = "Avatar URL or Data URI" })
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <input type="submit" class="small button right" value="@Action()" />
                </div>
            </div>
        </div>
        <a class="button" href="/razor">Return to Base (RTB)</a>

    </div>
</div>
</form>
@helper Title()
{
    @(Model.Avenger.Id > 0 ? "Edit Team" : "Add Team Member")
}
@helper Action()
{
    @(Model.Avenger.Id > 0 ? "Update" : "Create")
}