@model IList<OfficeAvenger.Domain.Mission>

<h4>Missions</h4>
@foreach (var mission in Model)
{
    <div class="mission crush">
        <div class="clearfix">
            <div class="left mission-name"><a href="/razor/mission/@mission.Id/edit">@mission.Name</a></div>
            
            <div class="right">
                <div class="mission-duration">@mission.Duration mins</div>
                <div class="mission-start">
                    @if(mission.Completed)
                    {
                        <text>Completed</text>
                    }
                    else if (mission.MissionStart.HasValue)
                    {
                        <text>Engaged</text>
                    }
                    else
                    {
                        <form action="/razor/mission/start" method="post" class="inline hugme">
                        @Html.Hidden("missionId", mission.Id)
                        <a href="#" onclick="$(this).closest('form').submit();" class="button tiny hugme">Begin</a>
                        </form>
                    }
                </div>
            </div>
            <div class="right trash-form">
                <form action="/razor/mission/delete" method="post" class="inline hugme">
                    <input type="hidden" name="Id" value="@mission.Id" />
                    <img class="trash-small" src="/content/images/trash-128.png" onclick="$(this).closest('form').submit();" />
                </form>
            </div>
        </div>
        <div class="mission-team clearfix">
            @foreach (var hero in mission.Team)
            {
                <img src="@hero.Avatar" class="left avatar" title="@hero.Name" />
            }
        </div>
    </div>
}
<a class="button" href="/razor/mission/add">New Mission</a>

@helper DisplayTime(DateTime? nullableDateTime, string nullString = "")
{
    @(nullableDateTime.HasValue ? nullableDateTime.Value.ToShortTimeString() : nullString)
}