@model OfficeAvenger.Web.Areas.Razor.Models.EditMissionViewModel
@{
    ViewBag.Title = Title();
}

<form action="/razor/mission/edit" method="post">
    @Html.HiddenFor(m => m.Mission.Id)
    @Html.HiddenFor(m => m.Mission.AgentId)
    <div class="row">
    <div class="small-4 small-offset-4 column">
        
        <h4>@Title()</h4>
        @Html.Partial("_Messages")
        <div class="panel">
            <div class="row">
                <div class="small-12 column">
                    <label>Mission Description</label>
                    @Html.TextBoxFor(m => m.Mission.Name, new { placeholder = "Mission Description", autofocus="autofocus" })
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <label>Duration (mins)</label>
                    @Html.TextBoxFor(m => m.Mission.Duration, new { placeholder = "Duration (mins)" })
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <input type="submit" class="small button right" value="@Action()" />
                </div>
            </div>
        </div>
        <a class="button" href="/razor">Return to Base (RTB)</a>

    </div>
</div>
</form>
@helper Title(){
    @(Model.Mission.Id > 0 ? "Edit Mission" : "Add Mission")
}
@helper Action(){
    @(Model.Mission.Id > 0 ? "Update" : "Create")
}