@model OfficeAvenger.Web.Areas.Razor.Models.HomeViewModel
@{
    ViewBag.Title = "Razor";
}

@if (User.Identity.IsAuthenticated)
{
    @Html.Partial("_Agent")
    <div class="row">
        <div class="columns small-12">
            @Html.Partial("_Messages")
        </div>
    </div>
    @Html.Partial("_Missions", Model.Missions)
    @Html.Partial("_Avengers", Model.Avengers)
}
else
{
    @Html.Partial("_Login")
}